<div id="content">
</div>

<script type="application/json" id="bootstrapped_id">
{ "current_user_id": <%= current_user.id.to_json.html_safe %> }
</script>

<script>
  $(document).ready(function(){
    var data = JSON.parse($("#bootstrapped_id").html());
    //console.log("<%= current_user.id %>");
    var current_user_id = data.current_user_id;


    PT.initialize(current_user_id);
  });


</script>

