<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>


<form class="new-photo">
  <input type="text" name="photo[title]">

  <input type="text" name="photo[url]">

  <input type="hidden" name="photo[owner_id]" name="<%= params[:id] %>">

  <input type="submit" value="Create photo">

</form>

<!-- t.integer  "owner_id",   :null => false
t.string   "title",      :null => false
t.string   "url",        :null => false -->

<script>
$(function() {
  $('.new-photo').on('submit', function(ev) {
    ev.preventDefault();
    var formData = $(this).serializeJSON();
    console.log(formData);


    var newPhoto = new Photo(formData);
    alert("after u click ok photo will be created");
    newPhoto.create(function() {
      alert("Success");
    });

    // $.ajax({
    //   url: "/cats",
    //   type: "POST",
    //   data: formData,
    //   success: function () {
    //     console.log("Your callback here!");
    //   }
    // });


  });
});
</script>

<!-- Photo.prototype.create = function(callback) {

  $.ajax({
    url: '/api/photos',
    dataType: 'json',
    data: this.attributes,
    success: callback
    // maybe execute callback?
  });
}; -->
